<div class="container">
    <div class="row">
        <div class="col-md-10 ml-md-auto">
            <div class="card bg-light mb-3 mt-5" style="width: 800px">
                <div class="card-body">
                    <div class="card-header mb-3">Create Course</div>
                    {{ form_start(form) }}
                    <div class="form_group">
                        <div class="col-md-12 mb-3">
                            {{ form_row(form.level, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form_group">
                        <div class="col-md-12 mb-3">
                            {{ form_row(form.degree, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form_group">
                        <div class="col-md-12 mb-3">
                            {{ form_row(form.month_duration, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form_group">
                        <div class="col-md-12 mb-3">
                            {{ form_row( form.academic_year.day, { 'attr': { 'style': 'display:none' }, 'label': false } )}}
                            {{ form_row( form.academic_year.month, { 'attr': { 'style': 'display:none' }, 'label': false } )}}
                            {{ form_row(form.academic_year, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form_group">
                        <div class="col-md-12 mb-3">
                            {% if form.subjects is not empty %}
                                {{ form_label(form.subjects, "Subjects")}}
                            {% endif %}
                                {{ form_label(form.subjects, "")}}
                            {% for subject in form.subjects %}
                                <div class="form_group">
                                    <div class="col-md-12 mb-3 bg-white" style="padding-bottom: 1rem">
                                        {{ form_row(subject.name, {'attr': {'class':'form-control', 'readonly':'true'}}) }}
                                        {{ form_row(subject.credits, {'attr': {'class':'form-control','readonly':'true'}}) }}
                                        {{ form_row(subject.duration, {'attr': {'class':'form-control','readonly':'true'}}) }}
                                        {{ form_row(subject.course, {'attr': {'class':'form-control'}}) }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row" style="margin-left:5px;">
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
                                <button class="btn btn-primary">
                                    <i class="fa fa-btn fa-user"></i> {{ button_label|default('Save') }}
                                </button>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4" style="margin-top:-3px;">
                                <a class="btn btn-primary" href="{{ path('subject_course_add') }}" role="button" style="margin:8px">Create new subject</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
                                <a class="btn btn-primary" href="{{ path('course_list',) }}" role="button">Back</a>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>