{% extends 'base.html.twig' %}

{% block title %}Courses list{% endblock %}

{% block body %}
    <h1>Courses List</h1>
    <a class="btn btn-primary btn-lg" href="{{ path('course_new') }}" role="button" style="margin:8px">Create new course</a>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Level</th>
            <th>Degree</th>
            <th>Academic year</th>
            <th>Duration (in months)</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.level }}</td>
                <td>{{ course.degree }}</td>
                <td>{{ course.academicYear |date('Y') }}</td>
                <td>{{ course.monthDuration }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('course_edit', {'id': course.id}) }}" role="button">Edit</a>
                    <a class="btn btn-primary" href="{{ path('course_show', {'id': course.id}) }}" role="button">Show</a>
                    {{ include('course/_delete_form.html.twig')}}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no courses found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
