{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
    <h1>Course</h1>
<div class="table-responsive">
    <table class="table table-sm table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Level</th>
            <th>Degree</th>
            <th>Academic year</th>
            <th>Duration</th>
            <th>Subjects</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ course.level }}</td>
                <td>{{ course.degree }}</td>
                <td>{{ course.academicYear |date('Y') }}</td>
                <td>{{ course.monthDuration }}</td>
                <td>
                    {% for subject in course.subjects %}
                        <div>
                            {{ subject }}
                        </div>
                    {% else %}
                        no subjects
                    {% endfor %}
                </td>

                <td>
                    <a class="btn btn-primary" href="{{ path('course_edit', {'id': course.id}) }}" role="button">Edit</a>
                    <a class="btn btn-primary" href="{{ path('course_list',) }}" role="button">Back</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
