<form method="post" style="display:inline" action="{{ path('subject_delete', {'id': subject.id}) }}" onsubmit="return confirm('Are you sure you want to delete this subject?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subject.id) }}">
    <button class="btn btn-danger">
        <i class="fa fa-btn fa-user"></i> {{ button_label|default('Delete') }}
    </button>
</form>
