{% extends 'base.html.twig' %}

{% block title %}Subjects list{% endblock %}

{% block body %}
    <h1>Subjects list</h1>
    <a class="btn btn-primary btn-lg" href="{{ path('subject_new') }}" role="button" style="margin:8px">Create new subject</a>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Credits</th>
                <th>Duration</th>
                <th>Course</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for subject in subjects %}
                <tr>
                    <td>{{ subject.name }}</td>
                    <td>{{ subject.credits }}</td>
                    <td>{{ subject.duration }}</td>
                    <td>
                        {% for course in subject.course  %}
                            <div>
                                {{ course }}
                            </div>
                        {% else %}
                            no course
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('subject_edit', {'id': subject.id}) }}" role="button">Edit</a>
                        <a class="btn btn-primary" href="{{ path('subject_show', {'id': subject.id}) }}" role="button">Show</a>
                        {{ include('subject/_delete_form.html.twig')}}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}