{% extends 'base.html.twig' %}

{% block title %}Subject{% endblock %}

{% block body %}
    <h1>Subject</h1>
    <div class="table-responsive">
        <table class="table table-sm table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Credits</th>
                <th>Duration</th>
                <th>Course</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ subject.name }}</td>
                    <td>{{ subject.credits }}</td>
                    <td>{{ subject.duration }}</td>
                    <td>
                        {% for course in subject.course  %}
                            <div>
                                {{ course }}
                            </div>
                        {% else %}
                            no course
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('subject_edit', {'id': subject.id}) }}" role="button">Edit</a>
                        <a class="btn btn-primary" href="{{ path('subject_list',) }}" role="button">Back</a>
                        {{ include('subject/_delete_form.html.twig')}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}