<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 70px;">
    <a class="navbar-brand" href="#">Gesthispania</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    <ul class="nav navbar-nav navbar-right">
        {% if (is_granted('IS_AUTHENTICATED_FULLY') == false) %}
            <li><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
        {% endif %}
        {% if (is_granted('IS_AUTHENTICATED_FULLY') == false) %}
            <li><a class="nav-link" href="{{ path('registration') }}">Register</a></li>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            <li><a class="nav-link" href="{{ path('user_show') }}">User</a></li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li><a class="nav-link" href="{{ path('users_list') }}">Users List</a></li>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a class="nav-link" href="{{ path('course_list') }}">Courses List</a></li>
            <li><a class="nav-link" href="{{ path('subject_list') }}">Subjects List</a></li>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a class="nav-link" href="{{ path('app_logout') }}">Logout</a></li>
        {% endif %}
    </ul>
</nav>
{% block body %}{% endblock %} {% block javascripts %}{% endblock %}
</body>
</html>
