{% extends 'base.html.twig' %}

{% block title %}User list{% endblock %}

{% block body %}
    <h1>Users list</h1>
    <a class="btn btn-primary btn-lg" href="{{ path('registration') }}" role="button" style="margin:10px">Create new user</a>
    <table class="table">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Subjects</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
            {% for user in users %}
                <tr>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phoneNumber }}</td>
                    <td>
                        {% for subject in user.subject %}
                            <div>
                                {{ subject }}
                            </div>
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}" role="button">Edit</a>
                        <a class="btn btn-primary" href="{{ path('user_find', {'id': user.id}) }}" role="button">Show</a>
                        {{ include('users/_delete_form.html.twig')}}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">no users found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}