{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>
    <table class="table">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <tr>
                <td>{{ app.user.firstName }}</td>
                <td>{{ app.user.lastName }}</td>
                <td>{{ app.user.email }}</td>
                <td>{{ app.user.phoneNumber }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('user_edit', {'id': app.user.id}) }}" role="button">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <h1>Subjects list</h1>
    <a class="btn btn-primary btn-lg" href="{{ path('subject_new') }}" role="button" style="margin:8px">Create new subject</a>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Credits</th>
                <th>Duration</th>
                <th>Course</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for subject in subjects %}
                <tr>
                    <td>{{ subject.name }}</td>
                    <td>{{ subject.credits }}</td>
                    <td>{{ subject.duration }}</td>
                    <td>
                        {% for course in subject.course  %}
                            <div>
                                {{ course }}
                            </div>
                        {% else %}
                            no course
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('subject_user', {'id': subject.id}) }}" role="button">Register user</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no subjects found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h1>User's subjects</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Credits</th>
                <th>Duration</th>
                <th>Course</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for subject in user.subject %}
                <tr>
                    <td>{{ subject.name }}</td>
                    <td>{{ subject.credits }}</td>
                    <td>{{ subject.duration }}</td>
                    <td>
                        {% for course in subject.course  %}
                            <div>
                                {{ course }}
                            </div>
                        {% else %}
                            no course
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('subject_user_delete', {'id': subject.id}) }}" role="button">Leave subject</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no subjects registered</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}